:root {
  --color-primary-0: #ffffff;
  --color-primary-1: #262626;
  --color-secondary-1: #ededed;
  --color-secondary-2: #4a4a4a;
  --color-detail-1: #00c896;
  --color-detail-2: #009670;
  --color-background-1: #0b0b0b;
  --color-background-2: #4a4a4ab0;
  --color-background-3: #00c89665;
}
